{{!-- This will be a handle bar template for displaying user profile information
also includes a form that allows us to do the following: 
- Submission form for adding events
- Submission form for adding tasks

Will create 2 seperate forms for these purposes. Top of page can be added later. will probs j include basic user info
and their tasks/events alr set up

--}}

<main>
    <div id="userProfile">
        <h1>Welcome {{userId}}! </h1>
        <h2>Profile Information</h2>
        <ul>
            <li>Name: {{ fullName }}</li>
            <li>Username: {{userId}}</li>
        </ul>
        <h2>Events</h2>
            {{#each events}}
                <h3>{{this.title}}</h3>
                <ul>
                    <li>Start Date: {{this.startDate}}</li>
                    <li>End Date: {{this.endDate}}</li>
                </ul>
                <p>Description: {{this.description}}</p>
            {{/each}}

        <h2>Tasks</h2>
            {{#each tasks}}
                <h3>Task {{inc @index}}</h3>
                <ul>
                    <li>Progress: {{this.progress}}</li>
                    <li>Start Date: {{this.startDate}}</li>
                    <li>End Date: {{this.endDate}}</li>
                    <li>Urgency Level: {{this.urgencyLevel}}</li>
                </ul>
                <p>Description: {{this.description}}</p>
            {{/each}}
    </div>
    <div class="eventTaskForms">
        {{#if errors}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
        <form method="POST" action="/user/{{userId}}" id="userEventForm">
            <h2>Add Event</h2>
            <label for="eventTitle">Event Title:</label>
            <input name="eventTitle" id="eventTitle" type="text" required>
            <label for="eventStartDate">Start Date:</label>
            <input name="startDate" id="eventStartDate" type="date" required>
            <label for="eventEndDate">End Date:</label>
            <input name="endDate" id="eventEndDate" type="date" required>
            <label for="eventStartTime">Start Time:</label>
            <input name="startTime" id="eventStartTime" type="time" required>
            <label for="eventEndTime">End Time:</label>
            <input name="endTime" id="eventEndTime" type="time" required>
            <label for="eventDescription">Event Description:</label>
            <textarea name="eventDescription" id="eventDescription"></textarea>
            <button name="submitButton" id="submitButtonEvent" type="submit" value="event">Add Event</button>
        </form>
        <form method="POST" action="/user/{{userId}}" id="userTaskForm">
            <h2>Add Task</h2>
            <label for="taskDescription">Task Description:</label>
            <textarea name="taskDescription" id="taskDescription"></textarea>
            <label for="progress">Progress:</label>
            <select name="progress" id="progress" required>
                <option value="" disabled selected>Select Progress</option>
                <option value="not started">Not Started</option>
                <option value="in progress">In Progress</option>
                <option value="finished">Finished</option>
            </select>
            <label for="taskStartDate">Start Date:</label>
            <input name="startDate" id="taskStartDate" type="date" required>
            <label for="taskEndDate">End Date:</label>
            <input name="endDate" id="taskEndDate" type="date" required>
            <label for="taskStartTime">Start Time:</label>
            <input name="startTime" id="taskStartTime" type="time" required>
            <label for="taskEndTime">End Time:</label>
            <input name="endTime" id="taskEndTime" type="time" required>
            <label for="urgencyLevel">Urgency Level:</label>
            <select name="urgencyLevel" id="urgencyLevel">
                <option value="1">1 (Low)</option>
                <option value="2">2 </option>
                <option value="3">3 (Medium) </option>
                <option value="4">4 </option>
                <option value="5">5 (High)</option>
            </select>
            <button name="submitButton" id="submitButtonTask" type="submit" value="task">Add Task</button>
        </form>

    </div>
    <div id="groupListing">
        <h2>Groups you're a part of:</h2>
        {{#each groups}}
            <ul>
                <li><a href="/group/{{@key}}">{{this}}</a></li>
            </ul>
        {{/each}}
    </div>
    <div id="groupJoining">
        <form method="POST" action="/user/{{userId}}" id="joinGroupform">
            <h2>Join Group</h2>
            <label for="pinToJoin">Group PIN:</label>
            <input name="pinToJoin" id="pinToJoin" type="number" required>
            <label for="groupNameToJoin">Group Name:</label>
            <input name="groupNameToJoin" id="groupNameToJoin" type="text" required>
            <button name="submitButton" id="submitButton" type="submit" value="joinGroup">Join Group</button>
        </form>
    </div>
    <div id="createGroup">
        <a href="/registerGroup">Click here to create a group!</a>
    </div>
    <a href="/signout">Sign Out</a>
</main>
